.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgray;
  padding: 20px 0;
  font-weight: bold;
  font-family: Verdana;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#image{
  margin: 2em;
}

.content{
  width: 30em;
}

.okvir{
  width: 100%;
  position: relative;
  padding: .5em 0;
  /*margin: 2em 5em;*/
  background: white;
  /*border: 2px solid orangered;
  border-radius: 5px;*/
  font-size: .7em;
  text-align: left;
  display: flex;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  color: black;
  float: left;
}

a {
  color: black;
  text-decoration: none;
}

#id{
  position: relative;
  float: left;
  background: transparent;
  color: orangered;
  margin: auto 0;
  width: 10%;
  font-size: 1.4em;
  text-align: center;
}

#titleCard{
  float: right;
  width: 89%;
  margin: auto 0;
}

.okvir:hover .inner{
  color: white !important;
}
.okvir:hover{
  background: orangered;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}